<li class='library-default-film-card' data-action='{{this.id}}' data-modal-open>

    <img class='library-default-film-card__img' src='https://image.tmdb.org/t/p/w500{{this.poster_path}}' alt='{{original_title}} '
        width='200' height="350"
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';" />

    <div class='library-default-film-card__wrapper'>
        <h2 class='library-default-film-card__title'>{{this.title}} {{this.name}} ({{this.release_date}})</h2>
        <p class='library-default-film-card__discription'>
            <span class='library-default-film-card__genres'>{{this.genre_ids}}</span>
        </p>
    </div>

</li>