<div class="modal__wrap">
    <picture class="picture">
        {{!-- <source srcset="./images/header-home/header-home-desktop.jpg" media="(min-width: 1200px)" type="image/webp"
            width="375" height="478" />

        <source srcset="./images/header-home/header-home-tablet.jpg" media="(min-width: 768px)" type="image/webp"
            width="264" height="374" />

        <source srcset="./images/header-home/header-home-mobile.jpg" media="(max-width: 767px)" type="image/webp"
            width="240" height="357" />

        <img src="./images/header-my-library/header-my-library-mobile.jpg" alt="Зал" /> --}}

        <img class='modal-card__img' src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{original_title}}'
            data-id='{{id}}' width='100%' onerror='this.onerror=null;this.srcset="{{fallbackImageDesktop}}";' />
    </picture>
    <div class="film-card-content">
        <ul class="list film-card-content__list">
            <h2 class="film-card-content__title" data-date='{{release_date}}'>{{original_title}}</h2>
            <li class="film-card-content__list-item">
                <div>
                    <ul class="list film-card-content__description">
                        <li class="film-card-content__item">
                            <p class="film-card-content__item-text-left">Vote / Votes</p>
                            <p class="film-card-content__item-text-left">Popularity</p>
                            <p class="film-card-content__item-text-left">
                                Original Title
                            </p>
                            <p class="film-card-content__item-text-left">Genre</p>
                        </li>
                        <li class="film-card-content__item">
                            <p class="film-card-content__item-text-right">
                                <span class="rating">{{vote_average}}</span> / {{vote_count}}
                            </p>
                            <p class="film-card-content__item-text-right">{{popularity}}</p>
                            <p class="film-card-content__item-text-right">
                                {{original_title}}
                            </p>
                            <p class="film-card-content__item-text-right genres">{{#each genres}} {{name}}{{#unless @last}},{{/unless}} {{/each}}</p>
                        </li>
                    </ul>
                    <ul></ul>
                </div>
            </li>
            <li class="list film-card-content__about">
                <h3 class="list film-card-content__about-title">About</h3>
                <p class="film-card-content__about-description">
                   {{this.overview}}
                </p>
            </li>
            <li class="film-card-content_btn">
                <button type="button" class="btn film-card-btn watched-btn">
                    add to watched
                </button>
                <button type="button" class="btn film-card-btn queue-btn">
                    add to queue
                </button>
            </li>
        </ul>
    </div>
</div>